body {
    padding: 0;
    margin: 0;
    background-color: mediumaquamarine;
}

p {
    font-size: medium;
    color: black;
}

h1 {
    color: aliceblue;
}

.text-content {
    width: 600px;
    height: 400px;
    background: aliceblue;
    border-radius: 10%;
    box-shadow: 5px 5px 10px black;
    padding: 15px;
}

.header {
    width: auto;
    text-align: center;
}

.container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    text-align: center;
    font-size: 30px;
}